source_up_if_exists
export SOPS_AGE_KEY_FILE=~/.config/sops/age/keys.txt
export SOPS_AGE_RECIPIENTS=$(cat $SOPS_AGE_KEY_FILE | grep 'public key:' | rev | cut -d " " -f1 | rev)
export TALOSCONFIG="$(pwd)/infrastructure/talos/clusterconfig/talosconfig"
