# yaml-language-server: $schema=https://kubernetes-schemas.trux.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app flaresolver
  namespace: services
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controller:
      replicas: 1
      strategy: RollingUpdate
    fullNameOverride: *app
    image:
      repository: ghcr.io/flaresolverr/flaresolverr
      tag: v3.4.6
    service:
      main:
        ports:
          http:
            port: &port 8191
    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/icon: mdi:eye-circle
          kubernetes.io/ingress.class: haproxy
        hosts:
          - host: &host "flare.${INTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix